<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:fragment="adminfooter" >
<footer id="footer">
    <div class="wrap">
        <div id="nav_container">
            <ul class="nav">
                <li id="settings">
                    <a href="/admin/settings">
                        <img src="/assets/svg/settings.svg" alt="설정">
                        <p>설정</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</html>
