<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="myPageHeader(title)">
<link rel="stylesheet" th:href="@{/css/layout/myPageHeader.css}"/>
<header class="header">
    <div class="header-container">
        <img class="mini-logo" src="/assets/svg/mini_logo.svg" alt="Mini Logo">
        <p class="header-title" th:text="${title}">MyPage</p>
    </div>
    <div class="profile-container">
        <span class="label" th:text="${myPage.userName}">이름(닉네임)</span>
        <a th:href="@{/mypage/correction}">
            <img class="edit-icon" src="/assets/svg/pencil.svg" alt="Edit">
        </a>
        <span class="name" th:text="${myPage.userPr}">자기소개</span>
        <img class="profile-icon" th:if="${myPage != null and myPage.profileImage != null}"
             th:src="${myPage.profileImage}"
             alt="프로필 이미지"/>
        <img class="profile-icon" th:unless="${myPage != null and myPage.profileImage != null}"
             src="/assets/svg/base_profile.svg"
             alt="기본 프로필 이미지"/>
    </div>
</header>
</html>