<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tbp.honeyjar.login.mapper.user.UserMapper">
    <select id="findByUserId" resultType="com.tbp.honeyjar.login.entity.user.User">
        SELECT user_id       as userId,
               kakao_id      as kakaoId,
               pr,
               name,
               profile_image as profileImage,
               created_at    as createdAt,
               updated_at    as updatedAt,
               fired_at      as firedAt,
               user_status   as userStatus
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="findByUserName" resultType="com.tbp.honeyjar.login.entity.user.User">
        SELECT user_id     as userId,
               kakao_id    as kakaoId,
               pr,
               name,
               profile_image as profileImage,
               created_at  as createdAt,
               updated_at  as updatedAt,
               fired_at    as firedAt,
               user_status as userStatus
        FROM user
        WHERE name = #{name}
    </select>

    <select id="findByKakaoId" resultType="com.tbp.honeyjar.login.entity.user.User">
        SELECT user_id     as userId,
               kakao_id    as kakaoId,
               pr,
               name,
               profile_image as profileImage,
               created_at  as createdAt,
               updated_at  as updatedAt,
               fired_at    as firedAt,
               user_status as userStatus
        FROM user
        WHERE kakao_id = #{kakaoId}
    </select>

    <select id="findUserIdByKakaoId" parameterType="long" resultType="com.tbp.honeyjar.login.entity.user.User">
        SELECT user_id as userId
        FROM user
        WHERE kakao_id = #{kakaoId}
    </select>

    <insert id="insertUser" parameterType="com.tbp.honeyjar.login.entity.user.User" useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO user (kakao_id, pr, name, profile_image, created_at, updated_at, user_status)
        VALUES (#{kakaoId}, #{pr}, #{name}, #{profileImage}, NOW(), NOW(), true)
    </insert>

    <update id="updateUser" parameterType="com.tbp.honeyjar.login.entity.user.User">
        UPDATE user
        SET name       = #{name},
            pr         = #{pr},
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>

    <update id="deleteUser">
        UPDATE user
        SET user_status = false,
            fired_at    = #{firedAt}
        WHERE kakao_id = #{kakaoId}
    </update>

    <update id="reactivateUser" parameterType="com.tbp.honeyjar.login.entity.user.User">
        UPDATE user
        SET user_status = true,
            fired_at    = NULL,
            updated_at  = NOW()
        WHERE kakao_id = #{kakaoId}
    </update>
</mapper>