<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout.html"
      layout:decorate="~{common/layout/followLayout}"
      layout:fragment="content"
      th:with="pageTitle='Followers'">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/follow/follower.css}"/>
    <th:block layout:fragment="title">
        <title th:text="${pageTitle}">Followers</title>
    </th:block>
</head>
<body>
    <div id="request">
        <div>요청</div>
        <th:block th:replace="common/components/followerComponent :: followerComponent(follows=${follows})"></th:block>
        <div><br/></div>
    </div>
</body>
</html>