<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Search</title>
</head>
<body>
<div>
    <form th:action="@{/follow/search}" method="get">
        <input type="text" name="name" placeholder="Search for users by name"/>
        <button type="submit">Search</button>
    </form>
</div>

<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>

<div th:each="user : ${users}">
    <div>
        <div th:text="${user.name}"></div>
        <form th:if="${user.isFollowed}" th:action="@{/follow/unfollow/{userId}(userId=${user.userId})}" method="post">
            <button type="submit">Unfollow</button>
        </form>
        <form th:if="${!user.isFollowed}" th:action="@{/follow/follow/{userId}(userId=${user.userId})}" method="post">
            <button type="submit">Follow</button>
        </form>
    </div>
</div>
</body>
</html>
