#container {
    max-width: 480px;
    min-width: 320px;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.sub_title {
    margin: 3.8rem 0 2.5rem 0;
    color: #FF8243;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4;
}

.qna_category {
    margin-top: 3rem;
}

.qna_category ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 3rem;
}

.qna_category li {
    display: inline;
    margin-right: 10px;
}

.qna_category li .tab {
    background-color: #fff;
    color: #535353;
    font-size: 0.9rem;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 2;
    border-radius: 50px;
    border: 1px solid #E5E5E5;
}

.qna {
    display: none;
}

.qna_item {
    margin-top: 10px;
}

.qna_item .question {
    font-size: 1rem;
    color: #535353;
    line-height: 2;
    border-bottom: 1px solid #E5E5E5;
}

.qna_item .answer {
    display: none;
    font-size: 0.8rem;
    color : #535353;
    background-color: #FAFAFA;
    padding:  1rem;
    font-weight: 400;
    line-height: 1.5;
}

.active {
    display: block;
}

.qna_category li .tab_active {
    font-size: 0.9rem;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 2;
    background-color: #FF8243;
    color: #fff;
    border-radius: 50px;
    border: transparent;
}


