<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="content"
      th:with="pageTitle='1:1문의'"
>
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/inquiry/inquiry.css}"/>
    <th:block layout:fragment="title">
        <title th:text="${pageTitle}">1:1문의</title>
    </th:block>
</head>
<body>
<div id="inquiry_container">
    <div class="inquiry_sub_title">
        <h4>1:1 문의</h4>
        <div class="add-button">
            <button th:onclick="'location.href=\'/settings/inquiry/write?userId=' + ${userId} + '\''">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="9" width="4" height="22" rx="2" fill="#FF8243"/>
                    <rect x="22" y="9" width="4" height="22" rx="2" transform="rotate(90 22 9)" fill="#FF8243"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="inquiry">
        <div th:each="inquiry : ${inquiryList}" class="list">
            <li>
                <a th:href="@{'/settings/inquiry/detail/' + ${inquiry.id}}" class="inquiry_link">
                    <div class="item">
                        <div class="title" th:text="${inquiry.title}">Title</div>
                        <div class="context_text">
                            <p class="context" th:text="${inquiry.post}">Content</p>
                            <span th:text="${#temporals.format(inquiry.createdAt, 'yyyy.MM.dd')}">Created At</span>
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/inquiry.js}"></script>
</body>
</html>
