<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbp.honeyjar.image.dao.ImageMapper">

    <insert id="insertImages">
        <foreach collection="images" item="image" separator=";">
            INSERT INTO image (
            url,
            user_id,
            post_id,
            is_main
            )
            VALUES (
            #{image.url},
            #{image.userId},
            #{image.postId},
            #{image.isMain}
            )
        </foreach>
    </insert>

    <select id="findImagesByPostId" resultType="com.tbp.honeyjar.image.dto.ImageDTO">
        SELECT
        image_id,
        url,
        user_id,
        post_id,
        is_main
        FROM
        image
        WHERE
        post_id = #{postId}
    </select>
</mapper>


