<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/homeLayout}"
      layout:fragment="content">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/home.css}"/>
    <th:block layout:fragment="title">
        <title>홈</title>
    </th:block>
<!--    <th:block layout:fragment="script">-->
<!--        <script th:src="@{/js/pages/home/home.js}"></script>-->
<!--    </th:block>-->
</head>
<body>
<div layout:fragment="content" class="home-content">
    <div id="map"></div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=18d1b182250df5c551cd9effe0c45b30"></script>
<script type="text/javascript" src="/js/pages/home/home.js"></script>
</body>
</html>