<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbp.honeyjar.admin.dao.NoticeMapper">

    <resultMap id="adminNoticeListResultMap" type="com.tbp.honeyjar.admin.dto.notice.NoticeListResponseDto">
        <id property="noticeId" column="notice_id"/>
        <result property="title" column="title"/>
        <result property="post" column="post"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <resultMap id="adminNoticeResultMap" type="com.tbp.honeyjar.admin.dto.notice.NoticeResponseDto">
        <id property="noticeId" column="notice_id"/>
        <result property="title" column="title"/>
        <result property="post" column="post"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findAllNotices" resultMap="adminNoticeListResultMap">
        select
            notice_id,
            title,
            post,
            created_at
        from notice
        order by notice_id
    </select>

    <select id="findById" resultMap="adminNoticeResultMap">
        select
            notice_id,
            title,
            post,
            created_at
        from notice
        where notice_id = #{noticeId}
    </select>

    <insert id="save" parameterType="com.tbp.honeyjar.admin.dto.notice.NoticeSaveRequestDto">
        insert into notice
        (
            title,
            post
        )
        values
        (
            #{title},
            #{post}
        )
    </insert>

    <update id="correction" parameterType="com.tbp.honeyjar.admin.dto.notice.NoticeCorrectionRequestDto">
        update notice
        set
            title = #{title},
            post = #{post}
        where
        notice_id = #{noticeId}
    </update>

    <delete id="delete" parameterType="_long">
        delete from notice
        where
        notice_id = #{noticeId}
    </delete>
</mapper>