button {
    border: 0;
    background-color: transparent;
}

input{
    max-width: 450px;
    width: 100%;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    height: 41px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

input:focus{
    outline: none;
    border: 2px solid #FF8243;
}

#container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
    width: 95%;
    margin-top: 0.8rem;
    padding-bottom: 7rem;
    height: 85vh;
}

.map_container {
    height: 95%;
    gap: 10px;
    overflow: hidden;

}

#map_wrap {
    width: 100%;
    gap: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
}


#menu_wrap {
    box-sizing: border-box;
    padding: 15px 0;
    overflow-y: auto;
    height: auto;
    min-height: 51%;
    max-height: 64%;
}

#map {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    box-sizing: border-box;
    padding-top: 12px;
}
#pagination a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
}


#pagination a.on {
    font-weight: 600;
    color: #FF8243;
}

#placesList .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#placesList .item hr {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    margin: 18px 0;
}

#placesList li.item p {
    font-size: 20px;
    color: #FF8243;
    font-weight: 700;
    box-sizing: border-box;
    padding-right: 20px;
}

#placesList li.item .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#placesList li.item .info .gray {
    display: flex;
    align-items: center;
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
    gap: 5px;
}

#placesList li.item .info .gray p {
    white-space: nowrap;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    box-sizing: border-box;
    padding: 2px 9px;
    color: #aaa;
}

#placesList li.item .info p {
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

#placesList li .info span {
    font-size: 12px;
    font-weight: 500;
    color: #616161;
}

#menu_wrap li .info .street_number{
    display: flex;
    align-items: center;
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
    gap: 5px;
}

#menu_wrap li .info .street_number p {
    white-space: nowrap;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    box-sizing: border-box;
    padding: 2px 9px;
    color: #aaa;
}
.active_address {
    background: #FF8243;
    color: #fff;
    width: 90%;
    display: flex;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.place_wrap {
    position: relative;
    bottom: 45px;
    text-align: left;
    font-size: 12px;
    width: fit-content;
}
.customOverlay {
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 9px 19px;
    border-radius: 100px;
    box-shadow: 0 0 10px #0000001a;
    background-color: #fff;
}