#container {
    max-width: 480px;
    min-width: 320px;
    width: 95%;
    position: relative;
    margin: 0 auto;
    margin-top: 3rem;
}

input, textarea {
    max-width: 450px;
    width: 100%;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    height: 41px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

textarea {
    height: 100px;
}

select {
    max-width: 150px;
    width: 90%;
    border: 1px solid #ededed;
    border-radius: 5px;
    height: 40px;
    padding: 0 0.5rem;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #FF8243;
}

.custom-select-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.custom-select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    max-width: 120px;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    height: 40px;
    border: 1px solid #ededed;
    border-radius: 5px;
    background: #fff url(/assets/svg/arrow_back_orange.svg) no-repeat right 10px center;
    background-size: 20px 20px;
}

.custom-select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px; /* 아이콘 너비 */
    height: 20px; /* 아이콘 높이 */
    pointer-events: none;
}

.mylist_select {
    display: flex;
}

/* 체크박스를 숨기고 레이블을 이미지로 스타일링 */
.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox .board_check_box {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/assets/svg/checkbox.svg');
    background-size: cover;
    cursor: pointer;
    vertical-align: middle;
}

.checkbox input[type="checkbox"]:checked + .board_check_box {
    background-image: url('/assets/svg/checkbox_color.svg');
}

.checkbox span {
    vertical-align: middle;
    margin-right: 8px;
    font-size: 0.6rem;
}


.mylist_select{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mylist_select .category_wrap {
    width: 70%;
}

.mylist_select .checkbox {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mylist_select .checkbox label {
    font-size: 0.7rem;
}

.mylist_select .checkbox input{
    max-width: 20px;
    width: 100%;
}

.my_list {
    width: 100%;
}

.my_list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 7rem;
}

.my_list ul .item {
    width: 48%;
    height: 250px;
    position: relative;
    margin-top: 2rem;

}


.my_list ul .item a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.my_list ul .item a::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000045;
    display: block;
    position: absolute;
    border-radius: 5%;
}

.my_list ul .item a img {
    width: 100%;
    border-radius: 10px;
    height: inherit;
}

.my_list ul .item .post_info {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 5%;
    width: 90%;
    left: 5%;
}

.my_list ul .item .post_info img {
    width: 34px;
    margin-right: 0.5rem;
}

.my_list ul .item .post_info .info_context {
    color: #fff;
    width: 80%;
}
.my_list ul .item .post_info .info_context h5 {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my_list ul .item .post_info .info_context span {
    font-size: 0.6rem;
}

.my_list ul .item .bookmark {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30px;
}

.my_list ul .item .bookmark button{
    border: 0;
    background: transparent;
}

.my_list ul .item .bookmark img {
    width: inherit;
}

