<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/writeLayout}"
      layout:fragment="content">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/post/postDetail.css}"/>
    <th:block layout:fragment="title">
        <title th:text="${post.title}">포스트 상세</title>
    </th:block>
</head>
<body>
<div id="container" th:object="${post}">
    <!-- title -->
    <div class="title_wrap">
        <div class="title">
            <span id="category" th:text="*{categoryName}">카테고리명</span>
            <h2 th:text="*{title}">제목</h2>
            <p id="date" th:text="*{createdAt}">2024.06.24</p>
        </div>
        <div class="more_h">
            <img src="/assets/svg/more_horiz.svg" alt="more_horiz">
            <div class="click_box">
                <div class="d_flex">
                    <a class="edit_p" th:href="@{'/post/correction?postId=' + *{postId}}">수정</a>
                    <a id="deletePost" class="delete_p" href="javascript:void(0)">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //title -->

    <!-- slider image -->
    <div class="kind_wrap">
        <div class="kind_slider">
            <ul class="slider">
                <li th:each="image : *{imageUrls}">
                    <img th:src="${image}" alt="이미지">
                </li>
            </ul>
        </div>
        <div class="arrow">
            <a href="" class="prev">
                <img src="/assets/svg/arrow_back_ios.svg" alt="이전">
            </a>
            <a href="" class="next">
                <img src="/assets/svg/arrow_forward_ios.svg" alt="다음">
            </a>
        </div>
    </div>
    <!-- //slider image -->

    <!-- information -->
    <div class="information">
        <div class="infos">
            <div class="best_menu info">
                <h5>대표 메뉴</h5>
                <p th:text="*{recommendMenu}">대표 메뉴</p>
            </div>

            <div class="price info">
                <h5>가격</h5>
                <p th:text="*{price}">가격</p>
            </div>

            <div class="address info">
                <h5>주소</h5>
                <p th:text="*{roadAddressName}">주소</p>
            </div>
        </div>

        <div class="bookmark">
            <button id="bookmarkButton">
                <img src="/assets/svg/bookmark_border.svg" alt="북마크" id="bookmarkImage">
            </button>
        </div>
    </div>
    <!-- //information -->

    <!-- map -->
    <div class="map">
        <div id="map" class="map_box" ></div>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fa5ef4c8b53367d10238f7d505c2a083&libraries=services"></script>

    <!-- context -->
    <div class="post_context">
        <p th:text="*{post}">내용</p>
    </div>
    <!--// context -->

    <!-- comment -->
    <div class="comment_box">
        <div class="like">
            <button id="likeButton" data-post-id="*{postId}">
                <img src="/assets/svg/favorite.svg" alt="좋아요" id="likeImage">
                <span id="likeCount">0</span>
            </button>
        </div>
        <div class="comment">
            <button id="commentButton">
                <img src="/assets/svg/mode_comment.svg" alt="댓글">
                <span id="commentCount">0</span>
            </button>
        </div>
        <div class="scope" id="rating">
            <button id="openRatingModal" data-post-id="*{postId}">
                <img src="/assets/svg/star.svg" alt="별점" id="ratingStar">
                <span id="averageRating">0</span>
            </button>
        </div>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var placeName = /*[[${post.placeName}]]*/ '장소 이름 없음';

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng([[${post.yCoordinate}]], [[${post.xCoordinate}]]), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc = '/assets/img/marker.png', // 마커이미지의 주소입니다
        imageSize = new kakao.maps.Size(54, 59), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        markerPosition = new kakao.maps.LatLng([[${post.yCoordinate}]], [[${post.xCoordinate}]]); // 마커가 표시될 위치입니다

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition,
        image: markerImage // 마커이미지 설정
    });

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: '<div class="info_map">' + placeName + '</div>'
    });

    // 인포윈도우를 마커와 연결합니다
    infowindow.open(map, marker);

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
    /*]]>*/
</script>


<!-- 삭제 확인 모달 -->
<div id="deleteConfirmModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-text">
            <p>정말 삭제하시겠습니까?</p>
        </div>
        <button id="confirmDelete" class="confirm">확인</button>
    </div>
</div>

<!-- 삭제 완료 모달 -->
<div id="deleteSuccessModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-text">
            <p>삭제가 완료되었습니다!</p>
        </div>
        <button id="completeDelete" class="complete">확인</button>
    </div>
</div>


<script th:inline="javascript">
    var postId = /*[[${post.postId}]]*/ 'defaultPostId';
</script>

<script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/post/postDetail.js}"></script>

</body>
</html>
