<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/writeLayout}"
      layout:fragment="content">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/post/postDetail.css}"/>
    <th:block layout:fragment="title">
        <title th:text="${post.title}">포스트 상세</title>
    </th:block>
</head>
<body>
<div id="container" th:object="${post}">
    <!-- title -->
    <div class="title_wrap">
        <div class="title">
            <span id="category" th:text="*{categoryName}">카테고리명</span>
            <h2 th:text="*{title}">제목</h2>
            <p id="date" th:text="*{createdAt}">2024.06.24</p>
        </div>
        <div class="more_h">
            <img src="/assets/svg/more_horiz.svg" alt="more_horiz">
            <div class="click_box">
                <div class="d_flex">
                    <a class="edit_p" th:href="@{'/post/correction?postId=' + *{postId}}">수정</a>
                    <a id="deletePost" class="delete_p" href="javascript:void(0)">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //title -->

    <!-- slider image -->
    <div class="kind_wrap">
        <div class="kind_slider">
            <ul class="slider">
                <li th:if="*{mainImageUrl != null}">
                    <img th:src="*{mainImageUrl}" alt="썸네일 이미지">
                </li>
                <li th:each="image : *{imageUrls}" th:if="${image != *{mainImageUrl}}">
                    <img th:src="${image}" alt="이미지">
                </li>
            </ul>
        </div>
        <div class="arrow">
            <a href="" class="prev">
                <img src="/assets/svg/arrow_back_ios.svg" alt="이전">
            </a>
            <a href="" class="next">
                <img src="/assets/svg/arrow_forward_ios.svg" alt="다음">
            </a>
        </div>
    </div>
    <!-- //slider image -->

    <!-- information -->
    <div class="information">
        <div class="infos">
            <div class="best_menu info">
                <h5>대표 메뉴</h5>
                <p th:text="*{recommendMenu}">대표 메뉴</p>
            </div>

            <div class="price info">
                <h5>가격</h5>
                <p th:text="*{price}">가격</p>
            </div>

            <div class="address info">
                <h5>주소</h5>
                <p th:text="*{placeName}">주소</p>
            </div>
        </div>

        <div class="bookmark">
            <button id="bookmarkButton">
                <img src="/assets/svg/bookmark_border.svg" alt="북마크" id="bookmarkImage">
            </button>
        </div>
    </div>
    <!-- //information -->

    <!-- map -->
    <div class="map">
        <div id="map"></div>
    </div>

    <!-- context -->
    <div class="post_context">
        <p th:text="*{post}">내용</p>
    </div>
    <!--// context -->

    <!-- comment -->
    <div class="comment_box">
        <div class="like">
            <button id="likeButton" data-post-id="*{postId}">
                <img src="/assets/svg/favorite.svg" alt="좋아요" id="likeImage">
                <span id="likeCount" >
<!--                    th:text="*{like}">-->
                    0</span>
            </button>
        </div>
        <div class="comment">
            <button id="commentButton">
                <img src="/assets/svg/mode_comment.svg" alt="댓글">
                <span id="commentCount" >
<!--                      th:text="*{commentId}">-->
                    0</span>
            </button>
        </div>
        <div class="scope" id="rating">
            <button id="openRatingModal" data-post-id="*{postId}">
                <img src="/assets/svg/star.svg" alt="별점" id="ratingStar">
                <span id="averageRating" >
<!-- th:text="*{rating}">-->
                0</span>
            </button>
        </div>

        <!-- 삭제 확인 모달 -->
        <div id="deleteConfirmModal" class="modal">
            <div class="modal-content">
                        <span class="close">
                            <img src="/assets/svg/close.svg" alt="닫기">
                        </span>
                <div class="modal-text">
                    <p>정말로 삭제 하시겠어요?</p>
                </div>
                <button id="confirmDelete" class="complete">삭제</button>
            </div>
        </div>

        <!-- 삭제 완료 모달 -->
        <div id="deleteSuccessModal" class="modal">
            <div class="modal-content">
                        <span class="close">
                            <img src="/assets/svg/close.svg" alt="닫기">
                        </span>
                <div class="modal-text">
                    <p>삭제가 완료되었습니다!</p>
                </div>
                <button id="completeDelete" class="complete">확인</button>
            </div>
        </div>

        <!-- Modal -->
        <div id="ratingModal" class="modal">
            <div class="modal-content">
                        <span class="close">
                            <img src="/assets/svg/close.svg" alt="">
                        </span>
                <div class="rating">
                    <p>평점을 남겨주세요!</p>
                </div>
                <div class="modal-rating">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <button id="confirmRating" class="confirmRating">확인</button>
            </div>
        </div>

    </div>

</div>

<script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/post/postDetail.js}"></script>

</body>
</html>
