/* Common Styles */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.content-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Common Styles End */

/* User Info Styles */
.user-info__profile {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.user-info__image {
    width: 74px;
    height: 74px;
    margin: 0 15px 0 0;
}

.user-info__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.user-info__row {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

.user-info__column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.user-info__label {
    font-family: "Pretendard-SemiBold";
    font-size: 14px;
    margin: 0 8px 0 0;
}

.user-info__nickname {
    font-family: "Pretendard-Bold";
    font-size: 20px;
    color: #989898;
}

.user-info__introduction {
    font-family: "Pretendard-Light";
    font-size: 14px;
    color: #989898;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

/* User Info Styles End */

/* Setting Tab Styles */
.setting-tab {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.setting-tab__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}

.setting-tab__notification {
    width: 8px;
    height: 8px;
    background-color: #ff8243;
    border-radius: 50%;
    display: none;
}

.setting-tab__notification.active {
    display: block;
}

.setting-tab__text {
    font-family: "Pretendard-Bold";
    font-size: 14px;
}

/* Button Styles */
.button {
    display: block;
    width: 100%;
    max-width: 130px;
    height: 37px;
    margin: 20px auto;
    border: none;
    border-radius: 40px;
    font-family: "Pretendard-Bold";
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    cursor: none;
}

.button--cancel,
.button--confirm {
    width: 48%;
    max-width: none;
    height: 40px;
    margin: 10px 0 15px;
    font-family: "Pretendard-Regular";
    font-size: 15px;
    font-weight: 500;
}

.button--cancel {
    background-color: #808080;
}

.button--confirm {
    background-color: #ff8243;
}

/* Button styles End */

/* Modal styles */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.modal__content {
    background-color: #ffffff;
    width: 100%;
    max-width: 312px;
    padding: 55px 0 0;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__text {
    padding: 5px 24px;
    font-family: "Pretendard-Regular";
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.modal__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

/* Modal styles End */