<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/admindefaultLayout}"
      layout:fragment="content"
>

<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/admin/qna/adminQna.css}"/>
    <th:block layout:fragment="title">
        <title>adminCategory</title>
    </th:block>
</head>

<body>
<!-- header 영역 -->
<div></div>
<!-- //header 영역 -->
<div id="container">
    <div class="sub_title">
        <h4>
            FAQ
            <br>
            자주 묻는 질문
        </h4>
        <div class="plus">
            <a href="/admin/qna/write">
                <img src="/assets/svg/plus.svg" alt="생성">
            </a>
        </div>
    </div>
    <div class="qna_category">
        <ul th:each="category : ${qnaCategory}">
            <li>
                <p th:data-category="${category.id}" th:text="${category.name}" th:class="${category.id} == 1 ? 'tab tab_active' : 'tab'">카테고리</p>
            </li>
        </ul>
    </div>

    <div id="qna-container">
        <div th:each="qna : ${qnaList}" th:class="${qna.getCategoryId()} == 1 ? 'qna active' : 'qna'" th:id="category + ${qna.getCategoryId()}">
            <div class="qna_item">
                <div class="question">
                    <div th:text="${qna.title}" class="title">
                        <h5>위치정보는 어떻게 찾는건가요?</h5>
                    </div>
                    <div class="more_h">
                        <img src="/assets/svg/more_horiz.svg" alt="more_horiz">
                        <div class="click_box">
                            <div class="d_flex">
                                <a class="edit_p" th:href="@{|/admin/qna/correction/${qna.id}|}">수정</a>
                                <a id="deletePost" th:href="@{|/admin/qna/delete/${qna.id}|}" class="delete_p">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="answer">
                            <span th:text="${qna.post}">
                                text
                            </span>
                </div>
            </div>
        </div>
    </div>

    <!-- 삭제 확인 모달 -->
    <div id="deleteConfirmModal" class="modal">
        <div class="modal-content">
                    <span class="close">
                        <img src="/assets/svg/close.svg" alt="닫기">
                    </span>
            <div class="modal-text">
                <p>정말로 삭제 하시겠어요?</p>
            </div>
            <button id="confirmDelete" class="complete">삭제</button>
        </div>
    </div>

    <!-- 삭제 완료 모달 -->
    <div id="deleteSuccessModal" class="modal">
        <div class="modal-content">
                    <span class="close">
                        <img src="/assets/svg/close.svg" alt="닫기">
                    </span>
            <div class="modal-text">
                <p>삭제가 완료되었습니다!</p>
            </div>
            <button id="completeDelete" class="complete">확인</button>
        </div>
    </div>

</div>

<script th:inline="javascript" th:src="@{/js/pages/admin/qna/adminQna.js}"></script>
</body>

</html>
