<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbp.honeyjar.post.dao.PostMapper">

    <resultMap id="postListResultMap" type="com.tbp.honeyjar.post.dto.PostListDTO">
        <id property="postId" column="post_id"/>
        <result property="postTitle" column="title"/>
        <result property="post" column="post"/>
        <result property="profileImg" column="profile_img"/>
    </resultMap>

    <resultMap id="postResponseResultMap" type="com.tbp.honeyjar.post.dto.PostResponseDTO">
        <id property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="recommendMenu" column="recommend_menu"/>
        <result property="price" column="price"/>
        <result property="post" column="post"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="foodCategory" column="food_category"/>
        <result property="placeName" column="place_name"/>
        <result property="xCoordinate" column="x_coordinate"/>
        <result property="yCoordinate" column="y_coordinate"/>
        <result property="profileImg" column="profile_img"/>
        <result property="like" column="like"/>
        <result property="commentId" column="comment_id"/>
        <result property="rating" column="rating"/>
    </resultMap>

    <select id="findAllPost" resultMap="postListResultMap">
        SELECT
            p.post_id,
            p.title,
            p.post,
            u.profile_img
        FROM
            post p
        JOIN
            user u ON p.user_id = u.id
    </select>

    <select id="findPostById" resultMap="postResponseResultMap">
        SELECT
            p.post_id,
            p.title,
            p.recommend_menu,
            p.price,
            p.post,
            p.create_at,
            p.update_at,
            f.food_category,
            m.place_name,
            m.x_coordinate,
            m.y_coordinate,
            u.profile_img,
            p.like,
            c.comment_id,
            r.rating
        FROM
            post p
        JOIN
            foodcategory f ON p.food_category_id = f.id
        JOIN
            map m ON p.map_id = m.id
        JOIN
            user u ON p.user_id = u.id
        LEFT JOIN
            comment c ON p.post_id = c.post_id
        LEFT JOIN
            rating r ON p.post_id = r.post_id
        WHERE
            p.post_id = #{postId}
    </select>

    <insert id="createPost">
        INSERT
            INTO post
        (
            title,
            recommend_menu,
            price,
            post,
            create_at,
            food_category_id,
            place_name,
            x_coordinate,
            y_coordinate,
            user_id
        )
        VALUES
        (
            #{title},
            #{recommendMenu},
            #{price},
            #{post},
            #{createAt},
                (
                    SELECT id
                    FROM foodcategory
                    WHERE food_category = #{foodCategory}
                ),
        #{placeName},
        #{xCoordinate},
        #{yCoordinate},
        #{userId}
        )
    </insert>

    <update id="updatePost">
        UPDATE
            post
        SET
            title = #{title},
        recommend_menu = #{recommendMenu},
        price = #{price},
        post = #{post},
        update_at = #{updateAt},
        food_category_id =
            (
                SELECT id
                FROM foodcategory
                WHERE food_category = #{foodCategory}
            ),
        place_name = #{placeName},
        x_coordinate = #{xCoordinate},
        y_coordinate = #{yCoordinate}
        WHERE post_id = #{postId}
    </update>

</mapper>