<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbp.honeyjar.comment.dao.CommentMapper">
<!--    private Long commentId; //
    private String comment; //
    private String updatedAt;
    private String userName;
    private String url; // DB 컬럼 추가후 수정예정-->
    <resultMap id="commentListResultMap" type="com.tbp.honeyjar.comment.dto.CommentListDTO">
        <id property="commentId" column="comment_id"/>
        <!--        <result property="profileImg" column=""/>-->
        <result property="comment" column="comment"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="userName" column="name"/>
        <result property="url" column="url"/>
    </resultMap>

    <select id="findAllComment" resultMap="commentListResultMap">
        SELECT DISTINCT C.comment_id, C.comment, C.updated_at, U.name, I.url
        FROM comment as C
        JOIN user as U ON C.user_id = U.user_id
        LEFT JOIN image as I ON C.user_id = I.user_id AND I.post_id IS NULL
        ORDER BY C.updated_at;
    </select>

    <insert id="registComment" parameterType="com.tbp.honeyjar.comment.dto.CommentListDTO">
        INSERT INTO COMMENT
        (
         COMMENT
        , POST_ID
        , USER_ID
        )
        VALUES
        (
           #{ comment }
        ,  1
        ,  1
        )
    </insert>

    <update id="modifyComment" parameterType="com.tbp.honeyjar.comment.dto.CommentListDTO">
        UPDATE COMMENT
        SET
                COMMENT

        WHERE
                COMMENT_ID = #{ comment_id }

    </update>
</mapper>