#container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    flex: none;
}
#header {
    width: 100%;
}
#profileContainer {
    display: flex;
    justify-content: space-between;
    height: 102px;
    width: 100%;
    background-color: #ffd140;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#detailContainer {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    padding-top: 5px;
}
#userName {
    padding-left: 3px;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: #393939;
}
#userDetail {
    display: flex;
    justify-content: space-between;
    height: 33%;
    width: 100%;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #393939;
}
#pencil {
    width: 22px;
    height: 22px;
}
#pr {
    display: flex;
    width: 200%;
    height: 26%;
    padding-left: 3px;
    font-size: 12px;
    align-items: center;
    margin-top: 5px;
}
#postIcon {
    width: 22px;
    height: 22px;
}
#postNumber {
    display: flex;
    width: 80%;
}
#postText {
    display: flex;
    height: 26%;
    width: 60%;
}
#profileSvg {
    width: 48px;
    height: 48px;
}
#post_data {
    width: 342px; /* 고정된 너비 */
    min-height: 125px; /* 고정된 높이 */
    border-radius: 18px;
    border-color: #c7c7c7;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    display: flex;
    box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 */
}
#like {
    height: 100%;
    width: 33.33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#follower {
    height: 100%;
    width: 33.33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#following {
    height: 100%;
    width: 33.33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.post_data_title {
    height: 12%;
    text-align: center;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: #565656;
}
div.post_data_set {
    height: 33%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.border {
    height: 80%;
    border-style: solid;
    border-color: #c7c7c7;
    width: 0;
    border-width: 1px;
    position: absolute;
    right: 0;
}
div.post_data_icon {
    height: 24px;
    width: 24px;
}
div.post_data_num {
    font-size: 36px;
    font-family: Inter, sans-serif;
    font-weight: bold;
}
div#bookMark {
    margin-top: 10px;
    width: 90%;
}
div#textLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
div#post_number {
    display: flex;
}
div#bookMarkText {
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: #393939;
}
#more {
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: #393939;
}
.post_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my_list {
    width: 100%;
}

.my_list ul {
    padding-bottom: 7rem;
    margin-top: 1rem;
}

.my_list ul .item {
    width: 48%;
    height: 250px;
    position: relative;
    margin-bottom: 1rem;

}


.my_list ul .item a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.my_list ul .item a::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000045;
    display: block;
    position: absolute;
    border-radius: 5%;
}

.my_list ul .item a img {
    width: 100%;
    border-radius: 10px;
    height: inherit;
}

.my_list ul .item .post_info {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 5%;
    width: 90%;
    left: 5%;
}

.my_list ul .item .post_info img {
    width: 34px;
    margin-right: 0.5rem;
}

.my_list ul .item .post_info .info_context {
    color: #fff;
    width: 80%;
}
.my_list ul .item .post_info .info_context h5 {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my_list ul .item .post_info .info_context span {
    font-size: 0.6rem;
}

.my_list ul .item .bookmark {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30px;
}

.my_list ul .item .bookmark button{
    border: 0;
    background: transparent;
}

.my_list ul .item .bookmark img {
    width: inherit;
}