<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout.html"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="content"
      th:with="pageTitle='BookMark'">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/post/post.css}"/>
    <th:block layout:fragment="title">
        <title th:text="${pageTitle}">BookMark</title>
    </th:block>
</head>
<body>
<div id="container">
    <!-- 필터링 폼 -->
    <div th:replace="common/components/filterForm :: filterForm(categories=${categories}, selectedCategory=${selectedCategory}, goodRestaurant=${goodRestaurant}, actionUrl='/mypage/bookmark')"></div>
    <!-- //필터링 폼 -->

    <!-- myListbox -->
    <div class="my_list">
        <ul>
            <th:block th:replace="common/components/postComponent :: postComponent(posts=${posts}, maxPosts=null)"></th:block>
        </ul>
    </div>
    <!-- //myListbox -->
</div>
</body>
</html>