<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout.html"
      layout:decorate="~{common/layout/writeLayout}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link th:href="@{/css/pages/mypage/myPageCorrection.css}" rel="stylesheet"/>
    <script th:src="@{/js/pages/mypage/myPageCorrection.js}" type="text/javascript"></script>
    <title>myPageCorrection</title>
</head>
<body>
    <div class="main">

        <form id="postForm" th:action="@{/mypage/{userId}/correction(userId=${myPage.userId})}" class="my-page-form" th:object="${myPage}" method="post">
            <!-- 프로필 사진 및 프로필 사진 변경 시작 -->
            <section class="profile">
                <div class="profile__image-container">
                    <img class="profile__image" th:src="${myPage.profileImage != null ? myPage.profileImage : '/assets/svg/base_profile.svg'}" alt="프로필 사진"/>
                    <div class="profile__change-button">
                        <img src="/assets/svg/change_profile.svg" alt="프로필 변경"/>
                        <input id="imageUpload" type="file" accept="image/jpeg, image/png, image/gif" style="display: none;">
                    </div>
                </div>
            </section>
            <!-- 프로필 사진 및 프로필 사진 변경 끝 -->

            <!-- 닉네임 필드 시작 -->
            <section class="form-field">
                <label class="form-field__label" for="nickName">닉네임</label>
                <input id="nickName" class="form-field__input" type="text" th:field="*{userName}" placeholder="입력하세요"/>
            </section>
            <!-- 닉네임 필드 끝 -->

            <!-- 자기소개 필드 시작 -->
            <section class="form-field">
                <label class="form-field__label" for="introduction">한줄 자기소개</label>
                <input id="introduction" class="form-field__input" type="text" th:field="*{userPr}" placeholder="입력하세요"/>
            </section>
            <!-- 자기소개 필드 끝 -->

            <!-- Submit 버튼 시작 -->
            <button id="modifyButton" class="button button--submit" type="submit" onclick="submitForm()">수정</button>
            <!-- Submit 버튼 끝 -->
        </form>

        <!-- Modal 시작 -->
        <div class="modal-container">
            <div class="modal">
                <div class="modal__content">
                    <p class="modal__text">수정 완료 되었어요!</p>
                    <button id="completeButton" class="button button--complete" type="button">확인</button>
                </div>
            </div>
        </div>
        <!-- Modal 끝 -->
    </div>
</body>
</html>