<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="content"
>

<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/notice/noticeDetail.css}"/>
    <th:block layout:fragment="title">
        <title>adminCategory</title>
    </th:block>
</head>

<body>
<!-- 헤더영역 -->
<div></div>
<!-- //헤더영역 -->
<div id="container">
    <div class="sub_title">
        <a href="#" id="back-button">
            <img src="/assets/svg/arrow_back.svg" alt="뒤로가기">
            <h4>공지사항</h4>
        </a>
    </div>
    <div class="noticeDetail">
        <div class="info">
            <div class="title">
                <h2 th:text="${notice.title}">정기 업로드 예정</h2>
                <div class="user_info">
                    <img src="/assets/svg/base_profile.svg" alt="관리자프로필">
                    <p>관리자</p>
                </div>
                <span th:text="${notice.formattedCreatedAt}">
                        2024.07.01
                    </span>
            </div>
        </div>
        <div th:text="${notice.post}" class="notice_context">
            <p>포스트</p>
        </div>
    </div>
</div>

<script th:inline="javascript" th:src="@{/js/pages/notice/noticeDetail.js}"></script>
</body>

</html>