<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/src/pages/css/notice.css">

    <script defer="defer" src="/src/pages/js/notice.js"></script>
    
    <title>noticeList</title>
</head>

<body>
    <!-- 헤더영역 -->
    <div></div>
    <!-- //헤더영역 -->
    <div id="container">
        <div class="sub_title">
            <h4>공지사항</h4>
        </div>

        <div class="notice">
            <ul class="list">
                <!-- 클릭했을때, 읽음 처리로 컬러 변경됨. class="notice_link" -->
                <li>
                    <a href="/src/pages/html/noticeDetail.html" class="notice_link">
                        <div class="item">
                            <div class="title">정기 업로드 예정</div>
                            <div class="context_text">
                                <p class="context">AM 01:00 ~ 05:00 업로드 예정이 있으므로 서비스가 원할하지 않을 수도 있습니다.</p>
                                <span>2024.07.01</span>
                            </div>
                        </div>
                    </a>
                    
                </li>
                <li>
                    <a href="/src/pages/html/noticeDetail.html" class="notice_link">
                        <div class="item">
                            <div class="title">정기 업로드 예정</div>
                            <div class="context_text">
                                <p class="context">AM 01:00 ~ 05:00 업로드 예정이 있으므로 서비스가 원할하지 않을 수도 있습니다.</p>
                                <span>2024.07.01</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>