<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/writeLayout}"
      layout:fragment="content">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/comment/comment.css}"/>
    <th:block layout:fragment="title">
        <title>작성</title>
    </th:block>
</head>
<body>
<div id="container">
    <form action="/comment/regist" id="comment" class="comment_create" method="post">
        <div class="comment_input">
            <div class="edit_icon">
                <img src="/assets/svg/mode.svg" alt="edit">
            </div>
            <div class="input_comment">
                댓글
            </div>
            <div class="input_area">
                <input class="text" placeholder="댓글을 입력해주세요" name="comment"/>
            </div>
            <div class="input_submit">
                <button type="submit" id="registSubmit" class="submit_button">등록</button>
            </div>
        </div>
    </form>

    <!-- 사용자 info -->
    <div class="comment_list">
        <div class="user_details" th:each="comment, commentIndex : ${commentList}">
            <div class="user_record">
                <img th:src="@{${comment.url}}" onerror="this.src='assets/svg/base_profile.svg'" alt="" class="user_profile">
                <div class="user">
                    <div class="user_info">
                        <span class="user_name" th:text="${comment.userName}">사용자</span>
                        <span class="user_date" th:text="${comment.updatedAt}">date</span>
                    </div>
                    <div class="more_h">
                        <img src="/assets/svg/more_horiz.svg" alt="more_horiz">
                        <div class="click_box">
                            <div class="d_flex">
                                <a class="edit_p editButton">수정</a>
                                <a id="deletePost" class="delete_p deleteButton" th:href="@{|/comment/${comment.commentId}|}">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 댓글 내용 -->
            <div class="user_comment">
                <p class="commentText" th:text="${comment.comment}">
                    댓글 내용이 여기에 출력됩니다.
                </p>
            </div>
            <!-- 댓글 수정 -->
            <form th:action="@{|/comment/modify/${comment.getCommentId()}|}" method="post">
            <div class="edit_comment">
                <div class="user_edit">
                    <input class="edit_text" placeholder="댓글을 입력해주세요" name="comment"/>
                </div>
                <div class="edit_submit">
                    <button type="submit" class="edit_button" >수정</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/comment/comment.js}"></script>

</body>
</html>