<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/writeLayout}"
      layout:fragment="content">
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/comment/comment.css}"/>
    <th:block layout:fragment="title">
        <title>작성</title>
    </th:block>
</head>
<body>
<div id="container">
    <form id="comment" th:object="${comDTO}" class="comment_create">
        <div class="comment_input">
            <div class="edit_icon">
                <img src="/assets/svg/mode.svg" alt="edit">
            </div>
            <div class="input_comment">
                댓글
            </div>
            <div class="input_area">
                <textarea class="text" placeholder="댓글을 입력해주세요" th:field="*{content}"></textarea>
            </div>
            <div class="input_submit">
                <button type="submit" class="submit_button">등록</button>
            </div>
        </div>
    </form>
    <div class="comment_list">
        <div class="user_details" th:each="comment, commentIndex : ${comments}">
            <div class="user_record">
                <img th:src="@{${comment.profileImg}}" alt="사용자프로필" class="user_profile">
                <div class="user">
                    <div class="user_info">
                        <span class="user_name" th:text="${comment.nickName}">사용자</span>
                        <span class="user_date" th:text="${comment.date}">date</span>
                    </div>
                    <div class="more_h">
                        <img src="/assets/svg/more_horiz.svg" alt="more_horiz">
                        <div class="click_box">
                            <div class="d_flex">
                                <a class="edit_p editButton" >수정</a>
                                <a id="deletePost" class="delete_p deleteButton" href="javascript:void(0)">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user_comment">
                <p class="commentText" th:text="${comment.content}">
                    댓글 내용이 여기에 출력됩니다.
                </p>
            </div>

            <div th:id="'edit_comment_' + ${commentIndex.index}" class="edit_comment">
                <div class="user_edit">
                    <textarea class="edit_text" placeholder="댓글을 입력해주세요"></textarea>
                </div>
                <div class="edit_submit">
                    <button type="submit" class="edit_button">수정</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/comment/comment.js}"></script>

</body>
</html>
