<div id="backGround" th:fragment="followerComponent(follows)">
    <div id="container" th:each="follow : ${follows.followers}">
        <div id="leftContainer">
            <div>
                <img th:src="${follow.profileImage != null ? follow.profileImage : '/assets/svg/base_profile.svg'}"/>
            </div>
            <div id="text" th:text="${follow.userName}"></div>
        </div>
        <div id="rightContainer">
            <div>
                <button id="decline">팔로워 삭제</button>
            </div>
        </div>
    </div>
    <div id="border">
        <hr />
    </div>
</div>

