<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="content"
      th:with="pageTitle='Bookmark'"
>
<head>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/pages/post/post.css}"/>
    <th:block layout:fragment="title">
        <title th:text="${pageTitle}">Bookmark</title>
    </th:block>
</head>
<body>
<div id="container">
    <!-- 필터링 폼 -->
    <form id="filterForm" th:action="@{/bookmark}" method="get">
        <div class="mylist_select">
            <!-- category -->
            <div class="category_wrap">
                <div class="custom-select-wrapper">
                    <select id="category" name="category" onchange="document.getElementById('filterForm').submit()">
                        <option value="">선택</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:selected="${category.id == selectedCategory}"
                                th:text="${category.name}">카테고리</option>
                    </select>
                    <select id="category2" name="sortOption" onchange="document.getElementById('filterForm').submit()">
                        <option value="">정렬</option>
                        <option th:each="sortOption : ${sortOptions}"
                                th:value="${sortOption.id}"
                                th:selected="${sortOption.id == selectedSortOption}"
                                th:text="${sortOption.name}">정렬</option>
                    </select>
                </div>
            </div>
            <!-- //category -->

            <!-- checkbox  -->
            <div class="checkbox">
                <span>착한맛집</span>
                <input type="checkbox" id="goodRestaurant" name="goodRestaurant" th:checked="${goodRestaurant}" onclick="document.getElementById('filterForm').submit()">
                <label class="board_check_box" for="goodRestaurant"></label>
            </div>
            <!-- //checkbox -->
        </div>
    </form>
    <!-- //필터링 폼 -->

    <!-- myListbox -->
    <div class="my_list">
        <ul>
            <li th:each="postWithBookmark : ${postWithBookmarks}" class="item">
                <a href="javascript:void(0)">
                    <img th:src="${postWithBookmark.post.img1}" alt="임시이미지">
                    <div class="bookmark" id="bookmarkButton" th:classappend="${postWithBookmark.bookmark.bookmarked} ? 'bookmarked' : ''">
                        <form th:action="@{/bookmarks/toggle}" method="post">
                            <input type="hidden" name="postId" th:value="${postWithBookmark.post.id}">
                            <button type="submit">
                                <img th:src="${postWithBookmark.bookmark.bookmarked} ? '/assets/svg/bookmark.svg' : '/assets/svg/bookmark_border.svg'" alt="북마크">
                            </button>
                        </form>
                    </div>
                    <div class="post_info">
                        <div class="info_img">
                            <img src="/assets/svg/base_profile.svg" alt="">
                        </div>
                        <div class="info_context">
                            <h5 th:text="${postWithBookmark.post.postTitle}">title</h5>
                            <span th:text="${postWithBookmark.post.nickname}">닉네임</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- //myListbox -->
</div>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/bookmark/bookmark.js}"></script>
</body>
</html>
